In [21]:
import pandas as pd

In [22]:
csvpath = ("pypoll.csv")
poll_df = pd.read_csv(csvpath)
pypoll_df = pd.DataFrame(poll_df)
pypoll_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [23]:
total = pypoll_df["Voter ID"].count()
total

3521001

In [24]:
candidate = pypoll_df["Candidate"].value_counts()
candidate

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [25]:
percent = pypoll_df["Candidate"].value_counts()/total
percent

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [26]:
winner = percent.max()
winner

0.6300001050837531

In [27]:
summary = pd.DataFrame({"Candidate Votes": candidate,
                      "Candidate Percentage": percent})
summary

          Candidate Votes  Candidate Percentage
Khan              2218231                  0.63
Correy             704200                  0.20
Li                 492940                  0.14
O'Tooley           105630                  0.03

In [28]:
candidate_winner_percent = summary["Candidate Percentage"].max()
candidate_winner_percent

0.6300001050837531

In [29]:
candidate_winner = summary.loc[summary["Candidate Percentage"] == candidate_winner_percent]
candidate_winner

      Candidate Votes  Candidate Percentage
Khan          2218231                  0.63

In [30]:
print("Election Results")
print("--------------------------------------------")
print("Total Votes: " + str(total))
print("--------------------------------------------")
print(summary)
print("--------------------------------------------")
print("Winner: "+ str(candidate_winner))
print("--------------------------------------------")

Election Results
--------------------------------------------
Total Votes: 3521001
--------------------------------------------
          Candidate Votes  Candidate Percentage
Khan              2218231                  0.63
Correy             704200                  0.20
Li                 492940                  0.14
O'Tooley           105630                  0.03
--------------------------------------------
Winner:       Candidate Votes  Candidate Percentage
Khan          2218231                  0.63
--------------------------------------------

In [31]:
text_file = open("pypoll.txt", "w")
text_file.write("Election Results\n")
text_file.write("--------------------------------------------\n")
text_file.write("Total Votes: " + str(total) + "\n")
text_file.write("--------------------------------------------\n")
text_file.write(str(summary) + "\n")
text_file.write("--------------------------------------------\n")
text_file.write("Winner: "+ str(candidate_winner) + "\n")
text_file.write("--------------------------------------------\n")
text_file.close()